{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nouveau projet{% endblock %}

{% block header %}
    {% include 'default/_menu.html.twig'  %}
{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau projet</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('user_show', {'id': app.user.id}) }}">Retour sur votre compte</a>
{% endblock %}
